<!DOCTYPE html>
<html>
<head>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/product.css">
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var publicKey = '<%= publicKey %>';
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BoardShop</title>


</head>
<body>
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex justify-content-between">
      <div>
        <a class="navbar-brand" href="#">
          <img src="/public/images/boards.png" height="30" class="d-inline-block align-top" alt="">
        </a>
      </div>
      <div >
        <button class="btn btn-outline-primary" id="cartButton" data-html="true" data-toggle="popover" data-placement="bottom" data-content="<p class='my-2'>The cart is empty</p>"><i class="fas fa-shopping-cart"></i> Cart</button>
        <!-- <a tabindex="0" class="btn btn-outline-primary text-primary cartButton" id="cartButton" role="button" data-html="true" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="<p class='my-2'>The cart is empty</p>"><i class="fas fa-shopping-cart"></i> Cart</a> -->
      </div>
    </div>
  </nav>

  <div class="main-image position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Find Your Board</h1>
      <p class="lead font-weight-normal">The right snowboard must match your style. We have a wide selection of boards from beginner level to terrain park pros.</p>
    </div>
  </div>

  <div class="d-lg-flex flex-lg-equal w-100 my-md-3 pl-md-3">
    <% for(var i=0; i<3; i++) { %>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-100"> 
      <div class="my-3 p-3">
        <h2 class="display-5" id="name_<%= boards[i].id %>"><%= boards[i].name %></h2>
        <p class="lead"><%= boards[i].description %></p>
        <img id="image_<%= boards[i].id %>" style="mix-blend-mode: multiply;" src="/public/images/snowboards/board_<%= boards[i].id %>.jpg"/>
        <p class="lead mt-2" id="price_<%= boards[i].id %>">$<%= boards[i].price %></p>
        <a class="btn btn-outline-secondary addRemoveItem" id="addRemove_<%= boards[i].id %>">Add to Cart</a>
      </div>
    </div>
    <% } %>
  </div>

  <div class="d-lg-flex flex-lg-equal w-100 my-md-3 pl-md-3">
    <% for(var i=3; i<6; i++) { %>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-100"> 
      <div class="my-3 p-3">
        <h2 class="display-5" id="name_<%= boards[i].id %>"><%= boards[i].name %></h2>
        <p class="lead"><%= boards[i].description %></p>
        <img id="image_<%= boards[i].id %>" style="mix-blend-mode: multiply;" src="/public/images/snowboards/board_<%= boards[i].id %>.jpg"/>
        <p class="lead mt-2" id="price_<%= boards[i].id %>">$<%= boards[i].price %></p>
        <a class="btn btn-outline-secondary addRemoveItem" id="addRemove_<%= boards[i].id %>">Add to Cart</a>
      </div>
    </div>
    <% } %>
  </div>

  <div class="d-lg-flex flex-lg-equal w-100 my-md-3 pl-md-3">
    <% for(var i=6; i<9; i++) { %>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-100"> 
      <div class="my-3 p-3">
        <h2 class="display-5" id="name_<%= boards[i].id %>"><%= boards[i].name %></h2>
        <p class="lead"><%= boards[i].description %></p>
        <img id="image_<%= boards[i].id %>" style="mix-blend-mode: multiply;" src="/public/images/snowboards/board_<%= boards[i].id %>.jpg"/>
        <p class="lead mt-2" id="price_<%= boards[i].id %>">$<%= boards[i].price %></p>
        <a class="btn btn-outline-secondary addRemoveItem" id="addRemove_<%= boards[i].id %>">Add to Cart</a>
      </div>
    </div>
    <% } %>
  </div>
  
  <footer class="container py-5">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
          <li><a class="text-muted" href="#">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <p class="linkMe">Created by <a href="http://anthonymcleod.com/">Anthony McLeod</a><p></div>
  </footer>
  <script src="/public/js/front_controller.js"></script>
</body>
</html>